<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义名字空间 -->
<mapper namespace="users">
    <!-- 定义insert语句 ,获得生成的id字段-->
    <insert id="insert">
				insert into users3(name,sex) values(#{name},#{sex})
	</insert>

    <update id="update" >
        update users3 set name=#{name}, sex=#{sex} where id=#{id}
    </update>

    <select id="selectById" resultType="_user" >
        select * from users3 where id=#{id}
    </select>
    <select id="selectAll" resultType="_user" >
        select * from users3
    </select>

    <delete id="delete">
        delete from users3 where id=#{id}
    </delete>

    <select id="selectAllLimit" resultType="_user">
        select * from users3 limit #{offset} , #{limit}
    </select>

    <select id="selectPageCount" resultType="int">
        select count(*) from users3;
    </select>
</mapper>