<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义名字空间 -->
    <!--
     id
     name
     wife_id
    -->
<mapper namespace="teacher">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into teacher (name) values( #{name})
    </insert>

    <insert id="insertLinks" >
        <foreach collection="students" item="stu" >
            insert into classes(student_id,teacher_id) values( #{stu.id}, #{id});
        </foreach>
    </insert>

    <select id="selectOne" resultMap="map1">
        select stu.id sid,
        stu.name sname,
        teacher.id tid,
        teacher.name tname,

        from teacher left join student
        on
    </select>


</mapper>